
/* Responsive */

@media only screen and (max-width: 320px) {
	/* Margin at bottom to keep the footer from overlaping the content*/
	body{
		margin-bottom: 220px !important;
	}
    .banner{
        height: 60px !important;
    }

    .promotec-img {
        height: 60px !important;
    }
    .button-wrapper {
        height: 60px !important;
        display: inline-block;

    }    
    .btn-responsive {
        line-height: 1;
        font-size: 6px;
        width: 70px !important;     
        padding-right: 0px !important;
        padding-left: 0px !important;
        height: 30px !important;
    }

    #ganar_dinero-banner {
        margin-top: 30px;
        padding: 2% 0 2% 0;
    }

    #ganar_dinero-banner span{
        font-weight: 900;
        font-size: 1em;
    }
    #descripcion p, #descripcion span{
        color: white;
        margin-top: 20px;
        font-size: 12px;
    }
    .footer-content, #micro-tec-logo {
        font-size: 12px !important;
    }
    #rc-imageselect, .g-recaptcha {
        transform:scale(0.77);-webkit-transform:scale(0.77);transform-origin:0 0;-webkit-transform-origin:0 0;
    }
    .sticky-container{
        padding:0px;
        margin:0px;
        position:fixed;
        right:-30px;
        top:30px;
        width:10px;
        z-index: 1100;
    }    

}

@media  (min-width: 321px)  and (max-width: 768px) {
	/* Margin at bottom to keep the footer from overlaping the content*/
	body{
		margin-bottom: 150px !important;
	}
    .banner{
        height: 60px !important;
    }

    .promotec-img {
        height: 60px !important;
    }
    .button-wrapper {
        height: 60px !important;
        display: inline-block;

    }    
    .btn-responsive {
        line-height: 1;
        font-size: 6px;
        width: 90px;
        padding-right: 0px !important;
        padding-left: 0px !important;
    }

    #ganar_dinero-banner {
        margin-top: 30px;
        padding: 2% 0 2% 0;
    }

    #ganar_dinero-banner span{
        font-weight: 900;
        font-size: 1.5em;
    }
    #descripcion p, #descripcion span{
        color: white;
        margin-top:20px;
        font-size: 15px;
    }      
    .footer-content, #micro-tec-logo {
        font-size: 10px;
    }
    #rc-imageselect, .g-recaptcha {
        transform:scale(0.77);-webkit-transform:scale(0.77);transform-origin:0 0;-webkit-transform-origin:0 0;
    }
}

@media (min-width: 769px) and (max-width: 1020) {
    .btn-responsive {
        font-size:90%;
        line-height: 1.2;
    }
    
    #promotec-nav {
        height: 8em;
        padding-right: 2em;
    }
    #ganar_dinero-banner {
        margin-top: 50px;
        padding: 2% 0 2% 0;
    }

    #ganar_dinero-banner span{
        font-weight: 900;
        font-size: 2.5em;
    }

    #descripcion p, #descripcion span{
        color: white;
        margin-top:20px;
        font-size: 25px;
    }         

}