.sticky-container{
    padding:0px;
    margin:0px;
    position:fixed;
    right:-150px;
    top:230px;
    width:200px;
    z-index: 1100;

}
.sticky li{
    list-style-type:none;
    color:#efefef;
    height:64px;
    font-size: 12px;
    line-height: 64px;
    padding:0px;
    border: 1px;
    border-radius: 2px;
    border-color: #fff;
    margin:0px 0px 1px 0px;
    -webkit-transition:all 0.25s ease-in-out;
    -moz-transition:all 0.25s ease-in-out;
    -o-transition:all 0.25s ease-in-out;
    transition:all 0.25s ease-in-out;
    cursor:pointer;
}
.sticky li:hover{
    margin-left:-120px;
    width:170px;
}
.sticky li img{
    float:left;
    margin:5px 4px;
    margin-right:5px;
}
.sticky li p{
    padding-top:5px;
    margin:0px;
    line-height:16px;
    font-size:11px;
}
.sticky li a{
    text-decoration:none;
    color:#fff;
}

.sticky span{
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}